<html>
<head>
    <title>A Leaflet map!</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
    <script src="../static/countryData.js"></script>
    <script src="../static/geoJsonTools.js"></script>
    <style>
        #map {
            height: 100%
        }
    </style>
</head>
<body>

<div id="map"></div>

<script>

    var mapboxAccessToken = "pk.eyJ1IjoiZGFubW9zc2EiLCJhIjoiY2pzc2RuanV4MXNjYzQ0c3p5YXVwNTB5aSJ9.diFv8mJ8AdWcsEj2bhEblA";
    var map = L.map('map').setView([37.8, -96], 4);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + mapboxAccessToken, {
        id: 'mapbox.light',
        // attribution: ...
    }).addTo(map);
    
    L.geoJson(countryData, {style: style}).addTo(map);

    geojson = L.geoJson(countryData, {
        style: style,
        onEachFeature: onEachFeature
    }).addTo(map);

</script>
</body>
</html>
